body {
   background-color: rgb(31, 29, 44);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0 ;
   color:aliceblue;
}


.seat {
    background-color: rgb(124, 108, 139);
    width: 15px ;
    height: 15px;
    margin: 3px;
    border-radius: 5px;

}


.seat.selected {
    background-color: rgb(167, 29, 70);
}



.seat.reserved {
    background-color: rgb(145, 182, 131);
}


.seat:nth-of-type(2) {
    margin-right: 20px ;
}


.seat:nth-last-of-type(3) {
    margin-right: 20px ;
}



.seat:not(.reserved):hover{
    cursor: pointer;
    transform: scale(1.3) ;
}



.row {
    display: flex;
}




.screen{
    background-color: rgb(240, 210, 243);
    height: 45px;
    width: 100%;
    margin: 20px 0;
    box-shadow: 2px 3px 5px rgb(138, 94, 94);
    border-radius: 5px;
}



.movie-list {
    margin: 20px;
}



select {
    border: none;
    outline: none;
    background-color: rgb(177, 118, 132);
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 12px 12px 12x;
    font-size: 14px;
    color: rgb(221, 208, 208);
    border: 2px solid rgb(152, 123, 182);
    
}



.info {
    background-color: rgb(63, 60, 83);
    padding: 5px 10px;
    display: flex;
    color: aliceblue;
    border-radius: 5px;
}


.info li {
    list-style: none;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px ;
    
}



p {
    font-size: 20px;
}

p.text span {
    color: rgb(116, 60, 111);
    background-color: rgb(198, 169, 207);
    border-radius: 8px;
    padding: 3px;
    
}
